
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #ececec;
}

body{
     margin: 0;
     padding: 0;
}

input{
    border: 1px solid purple;
    padding: 5px 10px;
    margin-left: 10px; 
}

a{
    text-decoration: none;
    color: purple;
}

header{
    text-align: center;
    background-color: purple;
    padding: 10px;
}

header h1{
    color: #fff;
    margin: 0;
}

*{
    box-sizing: border-box;
}

#form{
   text-align: center;
}

form{
    text-align: left;
    display: inline-block;
}

#info{
    text-align: center;
}

button{
    background-color: purple;
    color: #fff;
    border: 0;
    cursor: pointer;
    padding: 5px;
}

#button{
    text-align: center;
    margin-top: 5px;
}

.container{
    width: 1000px;
    margin: 0 auto;
    padding: 15px;
}

#error{
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px;   
}

#success{
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 5px;
}

#profil{
    color: #fff;
}
